doctype html
html(lang="en")
  head
    title ArchieJs Demo
    script(src='/css/bootstrap.min.css')
  body
    h1 ArchieJS Demo
    p To run this demo, create a google project with below scopes and APIs enabled :-
      p 1. Scopes
      p 2. APIs required
      p 3. Copy secret file to mentioned location
    p Also you will need to do following
      p 1. Do a google login
        a(href="/test/auth/google") Login with google
      p 2. Specify the folder to read reciepts from
      p 3. Provide other details and wait for details to fill up
